.musicxml-container {
  width: 100%;
  overflow: auto;
  /* border: 1px solid var(--background-modifier-border);
  border-radius: var(--radius-s);
  padding: var(--size-4-3); */
}
.musicxml-error {
  color: red;
  font-size: 0.85em;
}
.musicxml-control-label {
  font-size: var(--font-ui-smaller);
  color: var(--text-faint);
  margin-left: 4px;
  text-align: left;
}